<ion-view view-title="Browse">
  <ion-nav-bar >
    <ion-nav-back-button>
    </ion-nav-back-button>
    
   <!--  <div class="buttons primary-buttons">
      <button class="button">
            Button
      </button>
    </div> -->
  </ion-nav-bar>
  <ion-content>
    
    <div class="container">
    	<button class="button button-stable" ng-click="getLatestTags()">
			 	Get latest tags
			</button>
    </div>


    <div class="browse">
   		<div class="tag-item" ng-repeat="tag in tags">{{tag}}</div>
		</div>

   
  </ion-content>
</ion-view>
