<ion-modal-view>
	<!-- titlebar -->
	<ion-header-bar>
		<h1 class="title">{{info.title}}</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeModal()">Close</button>
		</div>
	</ion-header-bar>
	
	<!-- content -->
	<ion-content>
		<div class="list card">

<div ng-if="loaded" plangular="{{::info.permalink_url}}" class="player-container" ng-click="playPause()" >
  <div class="player-controls button-icon" 
    ng-class="{'ion-play' : (player.playing != track) , 'ion-stop' : (player.playing == track)}">
  </div>
  <div class="player-title">
    <h3>{{ ::title }}</h3>
  </div>
</div>



			<div class="item item-avatar">
				<img class="track__img" ng-src="{{info.user.avatar_url }}">
				<h2>{{::info.user.username}}</h2>
				<p>{{::info.user.permalink_url}}</p>
			</div>

			<div class="item item-body">
				<img class="full-image" ng-src="{{info.big_artwork}}">
				<p>{{::info.description}}</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					{{::info.favoritings_count}} Favs
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-clock"></i>
					{{::info.proper_time}}
				</a>
			</div>
		</div>
	</ion-content>


</ion-modal-view>



