<ion-view view-title="SMOKE MACHINE">
  <ion-content>

   <ion-list>
      <ion-item collection-repeat="track in tracks"
        collection-item-width="'100%'"
        collection-item-height="134"
        class='item-list'
        ng-click="resultClick(track)">
        <sc-track track="track"></sc-track>
      </ion-item>
    </ion-list>

   <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="10%"
    icon="ion-loading-c"
    class="scroll-loading"
    ng-if="hasSearchResults">

  </ion-infinite-scroll>

  </ion-content>
</ion-view>
