/**
 * font
 */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/roboto.woff) format('woff');
}

body {
	font-family: 'Roboto Slab', serif;
}

.bar .title {
font-family: 'Roboto Slab', serif;
font-weight:bold;	
}

.full-image {
	width: 100%;
	background: #f0f0f0;
	height: 100%;
}

/*
directives
 */
@import "app/track",
	"app/result",
	"app/browse",
	"app/search";