
.browse {
	@include display-flex;
	@include flex-wrap(wrap);

	.tag-item {
		
		margin: 5px;
		font-size: 18px;
		background-color: #F0F0F0;
		padding: 0px 10px;
		flex-shrink: 0;
		flex-grow: 1;
		text-align: center;
		font-family: 'Roboto Slab', serif;
		// font-weight: bold;

	}
}
